<section class="celebrity-card">
  <div class="celebrity-card__content">
    <div class="celebrity-card__content__thumb"></div>

    <div class="celebrity-card__content__info">
      <div class="celebrity-card__content__info__name">Kanye West</div>
      <div class="celebrity-card__content__info__small">
        <strong class="celebrity-card__content__info__small__since">
          1 month ago
        </strong>
        in Entertainment
      </div>

      <div class="celebrity-card__content__info__description">
        Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu
        velit libero.
      </div>

      <div class="celebrity-card__content__info__buttons">
        <button
          class="celebrity-card__content__info__buttons__vote positive"
        ></button>
        <button
          class="celebrity-card__content__info__buttons__vote negative"
        ></button>
        <button class="celebrity-card__content__info__buttons__confirm">
          Vote now
        </button>
      </div>
    </div>
  </div>

  <div class="celebrity-card__bottom">
    <div
      class="celebrity-card__bottom__bar celebrity-card__bottom__bar--positive"
      style="width: 50%"
    >
      <span class="celebrity-card__bottom__bar__value-positive">
        50%
      </span>
    </div>
    <div
      class="celebrity-card__bottom__bar celebrity-card__bottom__bar--negative"
      style="width: 50%"
    >
    <span class="celebrity-card__bottom__bar__value-negative">
      50%
    </span>
    </div>
  </div>
</section>
