@import "src/themes/colors";

.celebrity-card {
  width: 490px;
  height: 550px;
  display: flex;
  align-items: center;
  position: relative;

  &__content {
    color: $primary;
    display: flex;
    margin-top: 125px;
    align-items: baseline;
    gap: 8px;

    &__thumb {
      width: 35px;
      height: 30px;
      background-color: $positiveBg;
      background-image: url("/assets/icons/thumb-up-small.png");
    }

    &__info {
      display: flex;
      flex-direction: column;
      &__name {
        font-size: 45px;
      }

      &__small {
        font-size: 12px;
        font-weight: 300;

        &__since {
          font-weight: bold;
        }
      }

      &__description {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 300;
      }

      &__buttons {
        display: flex;
        gap: 10px;
        margin-top: 20px;

        &__vote {
          width: 30px;
          height: 30px;
          background-color: $positiveBg;
          border: none;
          cursor: pointer;

          &.positive {
            background-image: url("/assets/icons/thumb-up-small.png");
          }

          &.negative {
            background-color: $negativeBg;
            background-image: url("/assets/icons/thumb-down-small.png");
          }
        }

        &__confirm {
          background-color: transparent;
          border: 1px solid $primary;
          color: $primary;
          padding: 5px 15px;
        }
      }
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    color: $primary;
    &__bar {
      font-size: 30px;
      background-repeat: no-repeat;
      padding-top: 5px;
      position: relative;
      &--positive {
        background-color: rgb(28, 187, 180, 0.6);
        background-image: url("/assets/icons/thumb-up.png");
        background-position: 2% center;
      }
      &--negative {
        background-color: rgb(255, 173, 29, 0.6);
        background-image: url("/assets/icons/thumb-down.png");
        background-position: 98% center;
        text-align: right;
      }

      &__value-positive {
        position: absolute;
        left: 45px;
      }

      &__value-negative {
        position: absolute;
        right: 45px;
      }
    }
  }
}
