<div
  class="celebrity-card"
  [id]="id"
  *ngIf="celebrity"
  [ngStyle]="{ 'background-image': 'url(' + celebrity.image + ')' }"
>
  <div class="celebrity-card__content">
    <div class="celebrity-card__content__thumb"></div>

    <div class="celebrity-card__content__info">
      <div class="celebrity-card__content__info__name">
        {{ celebrity.name }}
      </div>
      <div class="celebrity-card__content__info__small">
        <strong class="celebrity-card__content__info__small__since">
          1 month ago
        </strong>
        in {{ celebrity.category }}
      </div>

      <div class="celebrity-card__content__info__description">
        {{ celebrity.description }}
      </div>

      <div class="celebrity-card__content__info__buttons">
        <button
          class="celebrity-card__content__info__buttons__vote positive"
          (click)="vote('positive')"
        ></button>
        <button
          class="celebrity-card__content__info__buttons__vote negative"
          (click)="vote('negative')"
        ></button>
        <div class="celebrity-card__content__info__buttons__confirm">
          {{celebrity.votes?.length}} Total Votes
        </div>
      </div>
    </div>
  </div>

  <div class="celebrity-card__bottom">
    <div
      class="celebrity-card__bottom__bar celebrity-card__bottom__bar--positive"
      [style]="'width: '+votesPercents[0]+'%'"
    >
      <span class="celebrity-card__bottom__bar__value-positive"> {{votesPercents[0] | number: '1.0-0'}}% </span>
    </div>
    <div
      class="celebrity-card__bottom__bar celebrity-card__bottom__bar--negative"
      [style]="'width: '+votesPercents[1]+'%'"
    >
      <span class="celebrity-card__bottom__bar__value-negative"> {{votesPercents[1] | number: '1.0-0'}}% </span>
    </div>
  </div>
</div>
