@import "src/themes/mixins";
@import "src/themes/colors";

.header {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  height: 705px;

  @include mq-down(sm) {
    flex-direction: column;
    align-items: center;
  }

  &__top-bar{
      display: flex;

      @include mq-down(sm) {
        flex-direction: column;
        align-items: center;
      }

      &__title {
        margin: 0;
        font-size: 32px;
        font-weight: normal;
      }
    
      &__navbar {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        gap: 20px;
        padding: 10px 90px 10px 0;
        &__item {
          font-size: 16px;
          color: $primary;
          text-decoration: none;
          font-weight: 300;
        }
        @include mq-down(sm) {
          padding: 20px 0;
        }
      }

  }

  &__card{
    margin-top: 90px;
  }


  @include mq-down(md) {
    width: 100%;
  }
}