<header class="header">
  <div class="header__top-bar">
    <h1 class="header__top-bar__title primary">Rule of Thumb.</h1>
    <nav class="header__top-bar__navbar">
      <a href="#" class="header__top-bar__navbar__item">Past Trials</a>
      <a href="#" class="header__top-bar__navbar__item">How It Works</a>
      <a href="#" class="header__top-bar__navbar__item">Login / Sign Up</a>
    </nav>
  </div>

  <div class="header__card">
    <img src="/assets/images/header-card.jpg" alt="" />
  </div>

</header>
