<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap"
      rel="stylesheet"
    />
    <title>How it Works</title>
  </head>
  <body>
    <div class="zenoga-app">
      <div class="main-container">
        <h1>How It Works</h1>
      </div>
    </div>
  </body>
</html>
