<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap"
      rel="stylesheet"
    />
    <title>Zemoga Candidates Layout</title>
  </head>
  <body>
    <div class="zenoga-app zenoga-app--home">
      <div class="main-container">
        <header class="header">
          <div class="header__top-bar">
            <h1 class="header__top-bar__title primary">Rule of Thumb.</h1>
            <nav class="header__top-bar__navbar">
              <a href="#" class="header__top-bar__navbar__item">Past Trials</a>
              <a href="#" class="header__top-bar__navbar__item">How It Works</a>
              <a href="#" class="header__top-bar__navbar__item"
                >Login / Sign Up</a
              >
            </nav>
          </div>

          <div class="header__card">
            <img src="assets/images/header-card.jpg" alt="" />
          </div>
        </header>

        <section class="candidates-list">
          <div class="candidates-list__message">
            <div class="candidates-list__message__left">
              <span class="candidates-list__message__left__normal">
                Speak out. Be heard.
              </span>
              <span class="candidates-list__message__left__big">
                Be counted
              </span>
            </div>
            <div class="candidates-list__message__right">
              Rule of Thumb is a crowd sourced court of public opinion where
              anyone and everyone can speak out and speak freely. It’s easy: You
              share your opinion, we analyze and put the data in a public
              report.
            </div>
          </div>

          <h2 class="candidates-list__title">Votes</h2>

          <section class="candidates-list__wrapper">
            <!-- Candidate Card -->

            <div class="candidates-list__wrapper__item">
              <div
                class="candidate-card"
                style="
                  background-image: url('assets/images/candidates/01-kanye-west.jpg');
                "
              >
                <div class="candidate-card__content">
                  <div class="candidate-card__content__thumb"></div>

                  <div class="candidate-card__content__info">
                    <div class="candidate-card__content__info__name">
                      Kanye West
                    </div>
                    <div class="candidate-card__content__info__small">
                      <strong
                        class="candidate-card__content__info__small__since"
                      >
                        1 month ago
                      </strong>
                      in Entertainment
                    </div>

                    <div class="candidate-card__content__info__description">
                      Vestibulum diam ante, porttitor a odio eget, rhoncus
                      neque. Aenean eu velit libero.
                    </div>

                    <div class="candidate-card__content__info__form">
                      <div class="candidate-vote">
                        <form>
                          <div class="candidate-vote__buttons">
                            <button
                              class="candidate-vote__buttons__vote positive selected"
                            ></button>
                            <button
                              class="candidate-vote__buttons__vote negative"
                            ></button>
                            <input type="hidden" value="positive" name="vote" />
                            <button class="candidate-vote__buttons__confirm">
                              Vote
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="candidate-card__bottom">
                  <div
                    class="candidate-card__bottom__bar candidate-card__bottom__bar--positive"
                    style="width: 50%"
                  >
                    <span class="candidate-card__bottom__bar__value-positive">
                      50%
                    </span>
                  </div>
                  <div
                    class="candidate-card__bottom__bar candidate-card__bottom__bar--negative"
                    style="width: 50%"
                  >
                    <span class="candidate-card__bottom__bar__value-negative">
                      50%
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card -->

            <!-- Candidate Card -->
            <div class="candidates-list__wrapper__item">
              <div
                class="candidate-card"
                style="
                  background-image: url('assets/images/candidates/02-mark-zuckerberg.jpg');
                "
              >
                <div class="candidate-card__content">
                  <div class="candidate-card__content__thumb"></div>

                  <div class="candidate-card__content__info">
                    <div class="candidate-card__content__info__name">
                      Mark Zuckerberg
                    </div>
                    <div class="candidate-card__content__info__small">
                      <strong
                        class="candidate-card__content__info__small__since"
                      >
                        1 month ago
                      </strong>
                      in Business
                    </div>

                    <div class="candidate-card__content__info__description">
                      Vestibulum diam ante, porttitor a odio eget, rhoncus
                      neque. Aenean eu velit libero.
                    </div>

                    <div class="candidate-card__content__info__form">
                      <div class="candidate-vote">
                        <form>
                          <div class="candidate-vote__buttons">
                            <button
                              class="candidate-vote__buttons__vote positive selected"
                            ></button>
                            <button
                              class="candidate-vote__buttons__vote negative"
                            ></button>
                            <input type="hidden" value="positive" name="vote" />
                            <button class="candidate-vote__buttons__confirm">
                              Vote
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="candidate-card__bottom">
                  <div
                    class="candidate-card__bottom__bar candidate-card__bottom__bar--positive"
                    style="width: 50%"
                  >
                    <span class="candidate-card__bottom__bar__value-positive">
                      50%
                    </span>
                  </div>
                  <div
                    class="candidate-card__bottom__bar candidate-card__bottom__bar--negative"
                    style="width: 50%"
                  >
                    <span class="candidate-card__bottom__bar__value-negative">
                      50%
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card -->

            <!-- Candidate Card -->
            <div class="candidates-list__wrapper__item">
              <div
                class="candidate-card"
                style="
                  background-image: url('assets/images/candidates/03-cristina-fernandez.jpg');
                "
              >
                <div class="candidate-card__content">
                  <div class="candidate-card__content__thumb"></div>

                  <div class="candidate-card__content__info">
                    <div class="candidate-card__content__info__name">
                      Cristina Fernández de Kirchner
                    </div>
                    <div class="candidate-card__content__info__small">
                      <strong
                        class="candidate-card__content__info__small__since"
                      >
                        1 month ago
                      </strong>
                      in Politics
                    </div>

                    <div class="candidate-card__content__info__description">
                      Vestibulum diam ante, porttitor a odio eget, rhoncus
                      neque. Aenean eu velit libero.
                    </div>

                    <div class="candidate-card__content__info__form">
                      <div class="candidate-vote">
                        <form>
                          <div class="candidate-vote__buttons">
                            <button
                              class="candidate-vote__buttons__vote positive selected"
                            ></button>
                            <button
                              class="candidate-vote__buttons__vote negative"
                            ></button>
                            <input type="hidden" value="positive" name="vote" />
                            <button class="candidate-vote__buttons__confirm">
                              Vote
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="candidate-card__bottom">
                  <div
                    class="candidate-card__bottom__bar candidate-card__bottom__bar--positive"
                    style="width: 50%"
                  >
                    <span class="candidate-card__bottom__bar__value-positive">
                      50%
                    </span>
                  </div>
                  <div
                    class="candidate-card__bottom__bar candidate-card__bottom__bar--negative"
                    style="width: 50%"
                  >
                    <span class="candidate-card__bottom__bar__value-negative">
                      50%
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card -->

            <!-- Candidate Card -->
            <div class="candidates-list__wrapper__item">
              <div
                class="candidate-card"
                style="
                  background-image: url('assets/images/candidates/04-malala-yousafzai.jpg');
                "
              >
                <div class="candidate-card__content">
                  <div class="candidate-card__content__thumb"></div>

                  <div class="candidate-card__content__info">
                    <div class="candidate-card__content__info__name">
                      Malala Yousafzai
                    </div>
                    <div class="candidate-card__content__info__small">
                      <strong
                        class="candidate-card__content__info__small__since"
                      >
                        1 month ago
                      </strong>
                      in Entertainment
                    </div>

                    <div class="candidate-card__content__info__description">
                      Vestibulum diam ante, porttitor a odio eget, rhoncus
                      neque. Aenean eu velit libero.
                    </div>

                    <div class="candidate-card__content__info__form">
                      <div class="candidate-vote">
                        <form>
                          <div class="candidate-vote__buttons">
                            <button
                              class="candidate-vote__buttons__vote positive selected"
                            ></button>
                            <button
                              class="candidate-vote__buttons__vote negative"
                            ></button>
                            <input type="hidden" value="positive" name="vote" />
                            <button class="candidate-vote__buttons__confirm">
                              Vote
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="candidate-card__bottom">
                  <div
                    class="candidate-card__bottom__bar candidate-card__bottom__bar--positive"
                    style="width: 50%"
                  >
                    <span class="candidate-card__bottom__bar__value-positive">
                      50%
                    </span>
                  </div>
                  <div
                    class="candidate-card__bottom__bar candidate-card__bottom__bar--negative"
                    style="width: 50%"
                  >
                    <span class="candidate-card__bottom__bar__value-negative">
                      50%
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card -->
            
          </section>
        </section>

        <footer class="footer">
          <nav class="footer__navbar">
            <a href="#" class="footer__navbar__item">Terms and Conditions</a>
            <a href="#" class="footer__navbar__item">Privacy Policy</a>
            <a href="#" class="footer__navbar__item">Contact Us</a>
          </nav>
          <div class="footer__social">
            <span class="footer__social__follow"> Follow Us </span>
            <a href="#" class="footer__social__facebook"></a>
            <a href="#" class="footer__social__twitter"></a>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
