.primary {
  color: #FFFFFF; }

/* GENERAL STYLES */
html,
body {
  height: 100%; }

body {
  margin: 0;
  font-family: 'Lato', sans-serif; }

/* HOME */
.zenoga-app {
  position: relative;
  max-width: 1280px;
  margin: 0 auto; }
  .zenoga-app--home {
    background-image: url("../assets/images/pope-bg.jpg");
    background-repeat: no-repeat;
    background-size: contain; }
  @media (min-width: 800px) {
    .zenoga-app {
      margin-bottom: 0; } }
  @media (max-width: 1019px) {
    .zenoga-app {
      width: 100%; } }

.main-container {
  position: relative;
  max-width: 1025px;
  margin: 0 auto; }

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  height: 705px; }
  @media (max-width: 799px) {
    .header {
      flex-direction: column;
      align-items: center; } }
  .header__top-bar {
    display: flex; }
    @media (max-width: 799px) {
      .header__top-bar {
        flex-direction: column;
        align-items: center; } }
    .header__top-bar__title {
      margin: 0;
      font-size: 32px;
      font-weight: normal; }
    .header__top-bar__navbar {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      gap: 20px;
      padding: 10px 90px 10px 0; }
      .header__top-bar__navbar__item {
        font-size: 16px;
        color: #FFFFFF;
        text-decoration: none;
        font-weight: 300; }
      @media (max-width: 799px) {
        .header__top-bar__navbar {
          padding: 20px 0; } }
  .header__card {
    margin-top: 90px; }
  @media (max-width: 1019px) {
    .header {
      width: 100%; } }

/* CANDIDATES LIST */
.candidates-list__message {
  margin-top: 40px;
  background-color: #ebebeb;
  padding: 20px;
  display: flex; }
  .candidates-list__message__left {
    flex: 40%; }
    .candidates-list__message__left__normal {
      display: block;
      font-size: 22px; }
    .candidates-list__message__left__big {
      font-size: 37px;
      font-weight: bold; }
    @media (max-width: 799px) {
      .candidates-list__message__left__normal {
        font-size: 16px; }
      .candidates-list__message__left__big {
        font-size: 18px;
        font-weight: bold; } }
  .candidates-list__message__right {
    font-size: 15px;
    align-self: center; }

.candidates-list__title {
  font-size: 40px; }
  @media (max-width: 1019px) {
    .candidates-list__title {
      text-align: center; } }

.candidates-list__wrapper {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px; }
  .candidates-list__wrapper__item {
    flex: 40%; }
  @media (max-width: 1019px) {
    .candidates-list__wrapper {
      flex-direction: column;
      align-items: center; } }

/* CANDIDATE CARD */
.candidate-card {
  width: 490px;
  height: 550px;
  display: flex;
  align-items: center;
  position: relative; }
  .candidate-card__content {
    color: #FFFFFF;
    display: flex;
    margin-top: 125px;
    align-items: baseline;
    gap: 8px; }
    .candidate-card__content__thumb {
      width: 35px;
      height: 30px;
      background-color: #1cbbb4;
      background-image: url("../assets/icons/thumb-up-small.png"); }
    .candidate-card__content__info {
      display: flex;
      flex-direction: column; }
      .candidate-card__content__info__name {
        font-size: 45px; }
      .candidate-card__content__info__small {
        font-size: 12px;
        font-weight: 300; }
        .candidate-card__content__info__small__since {
          font-weight: bold; }
      .candidate-card__content__info__description {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 300; }
      .candidate-card__content__info__buttons {
        display: flex;
        gap: 10px;
        margin-top: 20px; }
        .candidate-card__content__info__buttons__vote {
          width: 30px;
          height: 30px;
          background-color: #1cbbb4;
          border: none;
          cursor: pointer; }
          .candidate-card__content__info__buttons__vote.positive {
            background-image: url("../assets/icons/thumb-up-small.png"); }
          .candidate-card__content__info__buttons__vote.negative {
            background-color: #ffad1d;
            background-image: url("../assets/icons/thumb-down-small.png"); }
        .candidate-card__content__info__buttons__confirm {
          background-color: transparent;
          border: 1px solid #FFFFFF;
          color: #FFFFFF;
          padding: 5px 15px; }
    .candidate-card__content__submitted {
      display: flex;
      gap: 10px;
      margin-top: 20px; }
      .candidate-card__content__submitted__message {
        color: #FFFFFF; }
      .candidate-card__content__submitted__button {
        background-color: transparent;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        padding: 5px 15px;
        cursor: pointer; }
  .candidate-card__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    color: #FFFFFF; }
    .candidate-card__bottom__bar {
      font-size: 30px;
      background-repeat: no-repeat;
      padding-top: 5px;
      position: relative; }
      .candidate-card__bottom__bar--positive {
        background-color: #1cbbb499;
        background-image: url("../assets/icons/thumb-up.png");
        background-position: 2% center; }
      .candidate-card__bottom__bar--negative {
        background-color: #ffad1d99;
        background-image: url("../assets/icons/thumb-down.png");
        background-position: 98% center;
        text-align: right; }
      .candidate-card__bottom__bar__value-positive {
        position: absolute;
        left: 45px; }
      .candidate-card__bottom__bar__value-negative {
        position: absolute;
        right: 45px; }

.candidate-vote__buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px; }
  .candidate-vote__buttons__vote {
    width: 30px;
    height: 30px;
    background-color: #1cbbb4;
    background-position: center;
    border: none;
    cursor: pointer;
    outline: none; }
    .candidate-vote__buttons__vote.positive {
      background-image: url("../assets/icons/thumb-up-small.png"); }
    .candidate-vote__buttons__vote.negative {
      background-color: #ffad1d;
      background-image: url("../assets/icons/thumb-down-small.png"); }
    .candidate-vote__buttons__vote.selected {
      border: 2px solid #FFFFFF; }
  .candidate-vote__buttons__confirm {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 5px 15px;
    cursor: pointer; }

/* FOOTER */
.footer {
  border-top: 1px dotted #979797;
  display: flex;
  margin-top: 35px;
  padding-top: 35px;
  align-items: center; }
  .footer__navbar {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px 90px 10px 0; }
    .footer__navbar__item {
      font-size: 16px;
      color: #666666;
      text-decoration: none;
      font-weight: 300; }
  .footer__social {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center; }
    .footer__social__follow {
      font-size: 12px; }
    .footer__social__facebook {
      width: 25px;
      height: 25px;
      background-image: url("../assets/icons/facebook.png"); }
    .footer__social__twitter {
      width: 30px;
      height: 25px;
      background-image: url("../assets/icons/twitter.png"); }
  @media (max-width: 1019px) {
    .footer {
      width: 100%; } }
