<section class="candidates-list">
  <div class="candidates-list__message">
    <div class="candidates-list__message__left">
      <span class="candidates-list__message__left__normal">
        Speak out. Be heard.
      </span>
      <span class="candidates-list__message__left__big"> Be counted </span>
    </div>
    <div class="candidates-list__message__right">
      Rule of Thumb is a crowd sourced court of public opinion where anyone and
      everyone can speak out and speak freely. It’s easy: You share your
      opinion, we analyze and put the data in a public report.
    </div>
  </div>

  <h2 class="candidates-list__title">Votes</h2>

  <div
    class="candidates-loading"
    *ngIf="candidatesHandler.loadingCandidates$ | async"
  >
    <app-loader [diameter]="100" [stroke]="6"></app-loader>
  </div>

  <div
    class="candidates-error"
    id="errorLoadingCandidates"
    *ngIf="candidatesHandler.errorList$ | async"
  >
    <app-error [error]="candidatesError" (retry)="dispatchGetCandidates()"></app-error>
  </div>

  <section
    class="candidates-list__wrapper"
    *ngIf="candidatesHandler.getCandidates$ | async"
  >
    <div
      class="candidates-list__wrapper__item"
      *ngFor="let candidate of candidatesHandler.getCandidates$ | async; index as i"
    >
      <app-candidate-card
        [id]="'candidateItem-' + i"
        [candidate]="candidate"
        (voteClick)="voteCandidate($event)"
      ></app-candidate-card>
    </div>
  </section>
</section>
