$primary: #FFFFFF;
$primaryLight: #EFEFEF;
$primaryDark: #6F6F6F;
$onPrimary: #fff;

$accent: #0094FF;
$accentLight: #4daef3;
$accentDark: #0b5991;
$onAccent: #fff;

$light: #f7b733;
$gray: #c4c4c4;

$app-primary: (
    100: $primaryLight,
    500: $primary,
    700: $primaryDark,
    contrast:(
        100: $onPrimary,
        500: $onPrimary,
        700: $onPrimary,
    )
);

$app-accent: (
    100: $accentLight,
    300: $accent,
    500: $accentDark,
    contrast:(
        100: $onAccent,
        500: $onAccent,
        700: $onAccent,
    )
);


.primary{
    color: $primary;
}

.accent{
    color: $accent;
}
