
@import '~@angular/material/theming';

@include mat-core();


$zemoga-ui-test-primary: mat-palette($mat-indigo);
$zemoga-ui-test-accent: mat-palette($mat-pink, A200, A100, A400);


$zemoga-ui-test-warn: mat-palette($mat-red);


$zemoga-ui-test-theme: mat-light-theme((
  color: (
    primary: $zemoga-ui-test-primary,
    accent: $zemoga-ui-test-accent,
    warn: $zemoga-ui-test-warn,
  )
));


@include angular-material-theme($zemoga-ui-test-theme);