
@import '~@angular/material/theming';
@import "./colors";

@include mat-core();


$zemoga-primary: mat-palette($app-primary);
$zemoga-accent: mat-palette($app-accent);

$zemoga-warn: mat-palette($mat-red);

$zemoga-theme: mat-light-theme($zemoga-primary, $zemoga-accent, $zemoga-warn);


@include angular-material-theme($zemoga-theme);