@import 'themes/mixins';
@import 'themes/colors';

/* GENERAL STYLES */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/* HOME */

.zenoga-app {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;

  &--home {
    background-image: url('../assets/images/pope-bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  @include mq-up(sm) {
    margin-bottom: 0;
  }

  @include mq-down(md) {
    width: 100%;
  }
}

.main-container {
  position: relative;
  max-width: 1025px;
  margin: 0 auto;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  height: 705px;

  @include mq-down(sm) {
    flex-direction: column;
    align-items: center;
  }

  &__top-bar {
    display: flex;

    @include mq-down(sm) {
      flex-direction: column;
      align-items: center;
    }

    &__title {
      margin: 0;
      font-size: 32px;
      font-weight: normal;
    }

    &__navbar {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      gap: 20px;
      padding: 10px 90px 10px 0;
      &__item {
        font-size: 16px;
        color: $primary;
        text-decoration: none;
        font-weight: 300;
      }
      @include mq-down(sm) {
        padding: 20px 0;
      }
    }
  }

  &__card {
    margin-top: 90px;
  }

  @include mq-down(md) {
    width: 100%;
  }
}

/* CANDIDATES LIST */

.candidates-list {
  &__message {
    margin-top: 40px;
    background-color: #ebebeb;
    padding: 20px;
    display: flex;
    &__left {
      flex: 40%;
      &__normal {
        display: block;
        font-size: 22px;
      }
      &__big {
        font-size: 37px;
        font-weight: bold;
      }

      @include mq-down(sm) {
        &__normal {
          font-size: 16px;
        }
        &__big {
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
    &__right {
      font-size: 15px;
      align-self: center;
    }
  }

  &__title {
    font-size: 40px;

    @include mq-down(md) {
      text-align: center;
    }
  }

  &__wrapper {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    &__item {
      flex: 40%;
    }

    @include mq-down(md) {
      flex-direction: column;
      align-items: center;
    }
  }
}

/* CANDIDATE CARD */

.candidate-card {
  width: 490px;
  height: 550px;
  display: flex;
  align-items: center;
  position: relative;

  &__content {
    color: $primary;
    display: flex;
    margin-top: 125px;
    align-items: baseline;
    gap: 8px;

    &__thumb {
      width: 35px;
      height: 30px;
      background-color: $positiveBg;
      background-image: url('../assets/icons/thumb-up-small.png');
    }

    &__info {
      display: flex;
      flex-direction: column;
      &__name {
        font-size: 45px;
      }

      &__small {
        font-size: 12px;
        font-weight: 300;

        &__since {
          font-weight: bold;
        }
      }

      &__description {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 300;
      }

      &__buttons {
        display: flex;
        gap: 10px;
        margin-top: 20px;

        &__vote {
          width: 30px;
          height: 30px;
          background-color: $positiveBg;
          border: none;
          cursor: pointer;

          &.positive {
            background-image: url('../assets/icons/thumb-up-small.png');
          }

          &.negative {
            background-color: $negativeBg;
            background-image: url('../assets/icons/thumb-down-small.png');
          }
        }

        &__confirm {
          background-color: transparent;
          border: 1px solid $primary;
          color: $primary;
          padding: 5px 15px;
        }
      }
    }

    &__submitted {
      display: flex;
      gap: 10px;
      margin-top: 20px;

      &__message {
        color: $primary;
      }

      &__button {
        background-color: transparent;
        border: 1px solid $primary;
        color: $primary;
        padding: 5px 15px;
        cursor: pointer;
      }
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    color: $primary;
    &__bar {
      font-size: 30px;
      background-repeat: no-repeat;
      padding-top: 5px;
      position: relative;
      &--positive {
        background-color: #1cbbb499;
        background-image: url('../assets/icons/thumb-up.png');
        background-position: 2% center;
      }
      &--negative {
        background-color: #ffad1d99;
        background-image: url('../assets/icons/thumb-down.png');
        background-position: 98% center;
        text-align: right;
      }

      &__value-positive {
        position: absolute;
        left: 45px;
      }

      &__value-negative {
        position: absolute;
        right: 45px;
      }
    }
  }
}

.candidate-vote {
  &__buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;

    &__vote {
      width: 30px;
      height: 30px;
      background-color: $positiveBg;
      background-position: center;
      border: none;
      cursor: pointer;
      outline: none;

      &.positive {
        background-image: url('../assets/icons/thumb-up-small.png');
      }

      &.negative {
        background-color: $negativeBg;
        background-image: url('../assets/icons/thumb-down-small.png');
      }

      &.selected {
        border: 2px solid $primary;
      }
    }

    &__confirm {
      background-color: transparent;
      border: 1px solid $primary;
      color: $primary;
      padding: 5px 15px;
      cursor: pointer;
    }
  }
}

/* FOOTER */

.footer {
  border-top: 1px dotted #979797;
  display: flex;
  margin-top: 35px;
  padding-top: 35px;
  align-items: center;

  &__navbar {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px 90px 10px 0;
    &__item {
      font-size: 16px;
      color: $secondary;
      text-decoration: none;
      font-weight: 300;
    }
  }

  &__social {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;

    &__follow {
      font-size: 12px;
    }

    &__facebook {
      width: 25px;
      height: 25px;
      background-image: url('../assets/icons/facebook.png');
    }

    &__twitter {
      width: 30px;
      height: 25px;
      background-image: url('../assets/icons/twitter.png');
    }
  }

  @include mq-down(md) {
    width: 100%;
  }
}
