@import "src/themes/mixins";
@import "src/themes/colors";

.footer {
  border-top: 1px dotted #979797;
  display: flex;
  margin-top: 35px;
  padding-top: 35px;
  align-items: center;

  &__navbar {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px 90px 10px 0;
    &__item {
      font-size: 16px;
      color: $secondary;
      text-decoration: none;
      font-weight: 300;
    }
  }

  &__social{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;

    &__follow{
      font-size: 12px;
    }

    &__facebook{
      width: 25px;
      height: 25px;
      background-image: url('/assets/icons/facebook.png');
    }

    &__twitter{
      width: 30px;
      height: 25px;
      background-image: url('/assets/icons/twitter.png');
    }
  }

  @include mq-down(md) {
    width: 100%;
  }
}