<section class="celebrities-list">
  <div class="celebrities-list__message">
    <div class="celebrities-list__message__left">
      <span class="celebrities-list__message__left__normal">
        Speak out. Be heard.
      </span>
      <span class="celebrities-list__message__left__big">
        Be counted
      </span>      
    </div>
    <div class="celebrities-list__message__right">
      Rule of Thumb is a crowd sourced court of public opinion where anyone and
      everyone can speak out and speak freely. It’s easy: You share your
      opinion, we analyze and put the data in a public report.
    </div>
  </div>

  <h2 class="celebrities-list__title">Votes</h2>

  <section class="celebrities-list__wrapper" *ngIf="celebrities">
    <div class="celebrities-list__wrapper__item" *ngFor="let celebrity of celebrities; let i = index">
      <app-celebrity-card [id]="'celebrityItem-'+i" [celebrity]="celebrity"></app-celebrity-card>
    </div>
  </section>
</section>
